@media (max-width: 1790px) {
    .content__text::before {
        display: none;
    }
}

@media (max-width: 1000px) {
    .hero__title {
        text-align: center;
    }

    .hero__scroll {
        margin-bottom: 15em;
    }
}

@media (max-width: 700px) {
    .burger {
        display: block;
    }
    .nav, .account {
        display: none;
    }
}